@import "Default.css";
header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
}

header button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

header button img {
    aspect-ratio: 1/1;
    transition: 0.2s ease-in-out;
}

header button img:hover {
    scale: 1.1;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 1.5em;
}

header nav ul li button {
    font-size: 1.3em;
    align-items: center;
    color: #fff;
    transition: 0.2s ease-in-out;
}

header nav ul li button:hover {
    scale: 1.1;
}


header nav ul li button svg {
    fill: #fff; /* Color del icono */
    height: 12px;
}

header > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

header .register-button {
    background-color: #00ff0080;
    color: #000;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

header .register-button:hover {
    background-color: #0f0;
}

header .sign-up-button {
    background-color: #00000080;
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

header .sign-up-button:hover {
    background-color: #000;
}

header .profile-button > img{
    height: 8em;
}
