@import "Default.css";
header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
}

header button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

header button img {
    aspect-ratio: 1/1;
    transition: 0.2s ease-in-out;
}

header button img:hover {
    scale: 1.1;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 1.5em;
}

header nav ul li button {
    font-size: 1.3em;
    align-items: center;
    color: #fff;
    transition: 0.2s ease-in-out;
}

header nav ul li button:hover {
    scale: 1.1;
}


header nav ul li button svg {
    fill: #fff; /* Color del icono */
    height: 12px;
}

header > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

header .register-button {
    background-color: #00ff0080;
    color: #000;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

header .register-button:hover {
    background-color: #0f0;
}

header .sign-up-button {
    background-color: #00000080;
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

header .sign-up-button:hover {
    background-color: #000;
}

header .profile-button > img{
    height: 8em;
}
/* Estilos generales para móviles */
@media screen and (max-width: 360px) {
    header {
        flex-direction: column;
        margin: 1em 0;
    }

    header .header-logo {
        order: 1;
        width: 60%; /* Ajusta esto según necesites */
        margin: 0 auto; /* Centra el logo */
    }

    header .header-logo img {
        width: 50%; /* Ajusta esto para que el logo se adapte al contenedor */
    }

    header nav,
    header > div {
        order: 3;
        width: 100%;
        justify-content: center;
    }

    header nav ul,
    header nav ul li {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    /* Ocultar las opciones de navegación por defecto */
    header nav ul {
        display: none;
    }

    /* Botón de menú para móviles */
    .menu-button {
        order: 2;
        background-image: url('../images/menubuttonofthreelines_79781.png'); /* Asegúrate de que la ruta de la imagen sea correcta */
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px; /* Ajusta esto según necesites */
        height: 30px; /* Ajusta esto según necesites */
        margin: 0 auto; /* Centra el botón de menú */
    }

    /* Mostrar opciones de navegación al hacer clic en el botón de menú */
    .menu-button.active + nav ul {
        display: flex;
    }

    /* Ajustar el tamaño de los botones de registro e inicio de sesión */
    header .register-button,
    header .sign-up-button {
        padding: 0.3em 0.6em; /* Reduce el relleno para hacerlos más pequeños */
        font-size: 1em; /* Reduce el tamaño de la fuente */
    }
}
