body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #333; /* Cambia el color de fondo según sea necesario */
}

nav {
    align-items: center;
}

nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Coloca los elementos en fila */
    align-items: center;
    justify-content: space-between;
}

nav ul li div .menu .insideMenu a {
    font-weight: lighter;
}

nav ul li div .menu .insideMenu a:hover {
    color: #0f0;
}

nav ul li:nth-child(n + 4):last-child {
    margin-left: auto;
}

nav ul li {
    margin-right: 20px;
    position: relative;
    display: flex;
}


nav ul li:not(.leftAligned, .insideMenu):hover {
    border-bottom: 2px solid #0f0;
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav ul li a {
    color: white; /* Cambia el color del texto según sea necesario */
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: border-bottom 0.3s ease; /* Transición suave para la línea */
    font-weight: bold;
}

/* Estilos para los menús desplegables */
.sportsDropdown,
.esportsDropdown {
    position: relative;
}

.sportsDropdown ul,
.esportsDropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333; /* Color de fondo del menú */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px;
    display: none; /* Ocultar el menú por defecto */
}

.sportsDropdown button,
.esportsDropdown button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.sportsDropdown button span,
.esportsDropdown button span {
    display: inline-block;
    margin-right: 5px;
    color: #ffffff;
}

.sportsDropdown button svg,
.esportsDropdown button svg {
    fill: #fff; /* Color del icono */
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease;
}

.sportsDropdown button:hover svg,
.esportsDropdown button:hover svg {
    transform: rotate(180deg);
}

.sportsDropdown:hover ul,
.esportsDropdown:hover ul {
    display: block; /* Mostrar el menú al pasar el ratón sobre el botón */
}

.sportsDropdown ul li,
.esportsDropdown ul li {
    padding: 10px 0;
}

button {
    margin: 1rem;
    padding: 0.75rem 1.5rem;
    background: none;
    border: none;
    transition: all .20s;
    color: #fff;

    &:active:not([disabled]) {
        --fill: #fff;
        color: #fff;
        transform: translateY(5px);
    }
}

.languageButton {
    background: none;
    border: none;
    padding: 0;
}

.languageButton img {
    display: block;
    width: 32px;
    height: 32px;
}

.profilePictureContainer .profilePicture {
    width: 32px;
    height: 32px;
    display: flex;
    margin: 1rem;
    padding: 0.75rem 1.5rem;
    background: none;
    border: none;
    transition: all .20s;
}


.registerButton:hover {
    background: forestgreen;
}

.signUpButton:hover {
    background: rgb(109, 115, 119);
}

.registerButton {
    border: none;
    overflow: visible;
    appearance: none;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: #4CAF50;
    color: #fff;
    width: auto;
    padding: 10px 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-right: 8px;
    display: flex;
}

.signUpButton {
    border: none;
    overflow: visible;
    appearance: none;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(61, 69, 73);
    color: rgb(249, 250, 250);
    width: auto;
    padding: 10px 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.headerButtonGroup {
    display: flex;
}