body{
    background-color: #474E52;
}

.home-text{
    color: #0BDA39;
}

.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images img{
    max-width: 100px;
    height: 100px;
    margin: 10%;
}