@import "Default.css";

.clasificacion > img {
    margin-left: 2em;
}

.logo-league-star {
    text-align: center;
}

.logo-league-star > img {
    max-height: 20em;
    width: auto;
}

.logo-league-star > button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
}

.logo-league-star button:hover polygon {
    fill: yellow;
}

.side-right-grid {
    flex: 1;
    justify-content: center;
    display: block;
}

.teams-league {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    margin: 2em;
}

.teams-league > button {
    background: none;
    border: none;
}

.teams-league > button > img {
    display: inline-block;
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
}

.teams-league > button > img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .logo-league-star > img {
        max-height: 15em; /* Ajusta el tamaño de la imagen */
    }

    .teams-league {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajusta el tamaño de las columnas */
        gap: 0.5em;
        margin: 1em;
    }
}

@media (max-width: 360px) {
    .logo-league-star {
        order: -1; /* Coloca la imagen de la liga en la parte superior */
    }

    .clasificacion > img {
        margin: 0 auto; /* Centra la imagen de clasificación */
        display: block;
    }

    .teams-league {
        grid-template-columns: 1fr; /* Coloca las imágenes de los equipos en una sola columna */
    }

    .teams-league > button > img {
        width: 80%; /* Ajusta el ancho de las imágenes de los equipos */
    }
}

@media (max-width: 360px) {
    .divider-container {
        display: block;
    }
    .side-left, .side-right-grid {
        max-width: 100%;
    }
    .clasificacion, .teams-league {
        text-align: center;
    }
    .clasificacion img, .teams-league img {
        width: 80%; /* Ajustar al contenedor */
        height: auto;
        margin: 10px 0; /* Espaciado vertical */
    }
    .logo-league-star {
        display: none; /* Ocultar el logo de la liga */
    }
}
