/* Estilos para el header */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.header-h {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #24282B;
    padding: 10px; /* Agregar un relleno opcional al header */
}

.nav-txt {
    color: white;
}

.header-nav {
    width: 50%;
    /* Añadir estilos para centrar el header-nav */
    display: flex;
    align-items: center;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el contenido adicional si no cabe en una línea */
}

.header-nav nav {
    display: flex;
    gap: 10px; /* Ajusta según sea necesario */
}

.header-nav span {
    margin-right: 2%;
}

img {
    width: 7%;
    height: auto;
    margin-top: 0.5%;
    margin-bottom: 0.25%;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
    /* Center child vertically */
    display: flex;
    align-items: center;
}

.language-switcher {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.language-switcher img {
    width: 32px;
    height: 21px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
