.header-h{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #24282B;
}

.nav-txt{
    color: white;
}

.header-nav{
    width: 50%;
}

.header-nav span{
    margin-right: 2%;
}




img{
    width: 7%;
    height: auto;
    margin-top: 0.5%;
    margin-bottom: 0.25%;
}