<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link href="../../CSS/header.css" rel="stylesheet">
</head>
<body>
<header data-role="Header" class="header1">
    <nav>
        <ul>
            <li>
                <button>
                    <a href="index.html" id="indexLink">INICIO</a>
                </button>
            </li>
            <li>
                <div class="sportsDropdown">
                    <button id="sportsDropdownButton">
                        DEPORTES
                        <svg viewBox="0 0 16 16">
                            <polygon points="8 11.41 3.29 6.71 4.71 5.29 8 8.59 11.29 5.29 12.71 6.71 8 11.41"></polygon>
                        </svg>
                    </button>
                    <ul class="menu" aria-hidden="true">
                        <li class="insideMenu">
                            <a href="" title="Baloncesto" id="basketballLink">Baloncesto</a>
                        </li>
                        <li class="insideMenu">
                            <a href="" title="Fútbol" id="footballLink">Fútbol</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <div  class="esportsDropdown">
                    <button id="esportsDropdownButton">
                        DEPORTES ELECTRÓNICOS
                        <svg viewBox="0 0 16 16">
                            <polygon points="8 11.41 3.29 6.71 4.71 5.29 8 8.59 11.29 5.29 12.71 6.71 8 11.41"></polygon>
                        </svg>
                    </button>
                    <ul class="menu" aria-hidden="true">
                        <li class="insideMenu">
                            <a href="" title="League of Legends">League of Legends</a>
                        </li>
                        <li class="insideMenu">
                            <a href="" title="Valorant">Valorant</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button>
                    <a href="aboutUs.html" id="aboutUsLink">SOBRE NOSOTROS</a>
                </button>
            </li>
            <li class="leftAligned">
                <div class="headerButtonGroup">
                    <button id="headerSignUp" class="registerButton">
                        <a href="RegisterFormulary.html"><span>REGISTRATE AHORA</span></a>
                    </button>
                    <button id="headerSignIn" class="signUpButton">
                        <a href="LoginFormulary.html"><span>INICIAR SESIÓN</span></a>
                    </button>
                </div>
                <button class="languageButton" id="languageButtonEsp">
                    <span> <img src="/Images/Components/esp.png" alt="español"></span>
                </button>
                <button class="languageButton" id="languageButtonEng">
                    <span> <img src="/Images/Components/estados-unidos.png" alt="english"></span>
                </button>
            </li>
        </ul>
    </nav>
    <script src="../../JS/translateHeader.js"></script>
</header>
</body>
</html>
