<button class="header-logo" onclick="getHTML('./Landing.html', '#main')">
  <img src="../images/components/logo.svg" alt="Logo de la aplicación ALLSPORTS">
</button>

<nav>
  <ul>
    <li><button onclick="getHTML('./Landing.html', '#main')">Inicio</button></li>
    <li><button>Deportes
      <svg viewBox="0 0 16 16"><polygon points="8 11.41 3.29 6.71 4.71 5.29 8 8.59 11.29 5.29 12.71 6.71 8 11.41"></polygon></svg>
    </button></li>
    <li>
      <button>Deportes Electrónicos
        <svg viewBox="0 0 16 16"><polygon points="8 11.41 3.29 6.71 4.71 5.29 8 8.59 11.29 5.29 12.71 6.71 8 11.41"></polygon></svg>
      </button>
    </li>
  </ul>
</nav>

<div>
  <button class="profile-button" onclick="getHTML('', '#main')"><img src="../images/components/notification.png" alt="bandeja-notificaciones"></button>
  <button class="profile-button" onclick="getHTML('./Profile.html', '#main')"> <img src="../images/components/profile.png" alt="Perfil"></button>
</div>